@model List<Property>

<div class="row mt-5">
    <div class="property-container d-flex gap-4 flex-wrap">
        @foreach (var property in Model)
        {
                <div class="property-card">
                    @if (property.Images != null && property.Images.Any())
                    {
                        if (property.Images != null && property.Images.Any())
                        {
                            <a href="@Url.Action("Details", new { id = property.PropertyId })" class="property-card-button">
                                <img src="@property.Images.First().ImagePath" alt="Property Image">
                            </a>
                        } else {
                            <p>No images available</p>
                        }
                    }

                    <div class="property-details">
                        @* <div class="d-flex justify-content-between padding-15"> *@
                        <div class="d-flex justify-content-between">
                            <p class="property-location">@property.Category.Name</p>
                        </div>

                        <h4 class="property-title font-bold">
                            <!-- Link to property details page -->
                            <a href="@Url.Action("Details", new { id = property.PropertyId })" class="property-link animate-underline">@property.PropertyName</a>
                        </h4>

                        <div class="location-container">
                            <i class="fa-solid fa-location-dot"></i>
                            <p class="location">@property.Location</p>
                        </div>
                            @* <p class="property-price font-bold text-orangered">$@property.Price</p> *@
                        @* </div> *@
                        @* <div class="description-wrapper"> *@
                        <p class="property-description">@property.Description</p>
                        @* </div> *@
                        <div class="d-flex justify-content-center align-items-center gap-3">
                            <p><i class="fas fa-th-large fs-20"></i> @property.Rooms</p>
                            <p><i class="fa-solid fa-bed fs-20"></i> @property.Bedrooms</p>
                            <p><i class="fa-solid fa-shower fs-20"></i> @property.Bathrooms</p>
                            <p><i class="fas fa-vector-square fs-20"></i> @property.Squaremetres</p>
                        </div>
                        <div class="d-flex justify-content-between">
                            <p class="property-price font-bold text-orangered">$@property.Price</p>
                            @if(Context.Session.GetInt32("UserId") != null){

<a id="favoriteButton" asp-action="AddToFavorite" asp-controller="Home" asp-route-id="@property.PropertyId" class="favorite-button" onclick="toggleFavorite(this)">
    <i class="fa-regular fa-heart"></i>
</a>
                            }
                            
                        </div>
                        @* <a href="@Url.Action("Details", new { id = property.PropertyId })" class="property-link">View Details</a> *@
                    </div>
                </div>
        }
        <div class="filter-bar">
            <form id="property-filter" method="get" action="@Url.Action("ExploreProperties", "Home")">
                <!-- Category filter -->
                <select name="categoryId" class="select-filter-options" id="category-filter">
                    <option value="">All Categories</option>
                    @foreach (var category in ViewBag.Categories)
                    {
                        <option value="@category.CategoryId">@category.Name</option>
                    }
                </select>

                <!-- Property type filter -->
                <select name="propertyTypeId" class="select-filter-options" id="property-type-filter">
                    <option value="">All Property Types</option>
                    @foreach (var propertyType in ViewBag.PropertyTypes)
                    {
                        <option value="@propertyType.PropertyTypeId">@propertyType.TypeOfproperty</option>
                    }
                </select>

                
                <select name="location" class="select-filter-options" id="location-filter">
                    <option value="">All Locations</option>
                    @foreach (var location in ViewBag.Locations)
                    {
                        <option value="@location">@location</option>
                    }
                </select>
                <div class="price-range-filter">
                    <label for="min-price">Min Price:</label>
                    <input type="number" class="min-and-max-inputs" id="min-price" name="minPrice" value="" />

                    <label for="max-price">Max Price:</label>
                    <input type="number" class="min-and-max-inputs" id="max-price" name="maxPrice" value="" />
                </div>

                <button type="submit" class="filter-button font-bold">Filter</button>
            </form>
        </div>
    </div>

    <script>
        function toggleFavorite(button) {
            if (button.classList.contains("favorite-button-active")) {
                button.classList.remove("favorite-button-active");
            } else {
                button.classList.add("favorite-button-active");
            }
        }
</div>